/* set backgroud picture here */
/* the background colour should be static according to the time zone day n night */
:root{
    --highlighter : orange;
    --backdrop : skyblue ;
    --bg : white;
    --color :#276487; 
    --opacity : 0.5 ;
    --nightBg: rgba(30, 30, 30, var(--opacity));
    --dayBg :  rgba(135 ,206 ,235, var(--opacity));

    --appWidth : 98vw;
    --navHeight : 6vh;
  }
  .appContainer{
    position: relative;
    margin : 0;
    width : var(--appWidth);
    height: auto;
    min-height: 100vh;
}

  .flexColumn{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .flexInline{
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    h1{
        font-size: 2rem;
    }
    
    h2{
        font-size: 1.5rem;
    }
    
    p,a,i{
        font-size: 1rem;
        line-height: 1.3;
        word-spacing: 0.2rem;
    }
    
    .main{
      background: url("cloudy.png") ,radial-gradient(circle, var(--backdrop) 68%, rgba(98, 132, 140, 0.8) 100%);
      background-size: 300% 100% , 120% 130% ;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
  }

  @media screen and (min-width: 786px) {
    :root{
      --appWidth : 786px;
    }  
  }
        