/* set backgroud picture here */
/* the background colour should be static according to the time zone day n night */
:root{
    --highlighter : orange;
    --backdrop : skyblue ;
    --bg : white;
    --color :#276487; 
    --opacity : 0.5 ;
    --nightBg: rgba(30, 30, 30, var(--opacity));
    --dayBg :  rgba(135 ,206 ,235, var(--opacity));

    --appWidth : 98vw;
    --navHeight : 6vh;
  }
  .appContainer{
    box-sizing: border-box;
    position: relative;
    margin : 0;
    width : var(--appWidth);
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--color);
}
.appBg{
  background: url("cloudy.png") ,radial-gradient(circle, var(--backdrop) 68%, rgba(98, 132, 140, 0.8) 100%);
  background-size: 300% 100% , 120% 130% ;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
h1{
  font-size: 2rem;
  margin: 0.4em;
}

h2{
  font-size: 1.5rem;
  margin: 0.3em;
}

p,i{
  font-size: 1rem;
  line-height: 1.3;
  word-spacing: 0.2rem;
  margin: 0.3em;
}
a{
  font-size: 1rem;
  line-height: 1.3;
  word-spacing: 0.2rem;
  text-decoration: none;
  color : initial;
}
.px2{
  padding: 0 2vw;
}
.m2{
  margin : 2vw;
}
.my2{
  margin : 2vh auto;
}
  .flexColumn{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .flexInline{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }

  .alignCenter{
    align-items: center;
  }
  
  .justifyCenter{
    justify-content: center;
  }
  .justifyBetween{
    justify-content: space-between;
  }
  .justifyAround{
    justify-content: space-around;
  }
  
  .footer{
    margin-top: 50vh;
    margin-bottom: 20vh;
    height: auto;
    width: 100%;
    font-size: small;
    text-align: right;
  }
  .footer>div{
    padding: 0.5vw;
    /* background-color: #f0f8ff42; */
    -webkit-box-shadow: inset 24px 5px 25px 5px #f0f8ff42; 
    box-shadow: inset 24px 5px 25px 5px #f0f8ff42;
  }

  /* aroundUs */
  input[type="text"] {
    width: 90%;
    height: fit-content;
    border-radius: 3.34vw;
    border: 1px solid var(--color);
    background-color: transparent;
    font-size: 1.2rem;
    color : var(--color);
    padding-left: 1vw;
    box-sizing: border-box;
  }
  input::placeholder {
    font-style: italic;
    font-size: small;
    padding-left: 1vw;
  }

  .btn{
    border-radius: 1.5vw;
    color: var(--bg);
    background-color: var(--color);
    border: 4px double var(--color);
    box-sizing: border-box;
    width: fit-content;
    height: auto;
    min-width: 150px;
    padding: 1vh 3vw;
    margin: 1.5vh auto;
    font-weight: bold;
    font-size: large;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.82); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.82);
    transition: 1s;
  }  
  .btn:hover{
    color: var(--color);
    background-color:var(--bg);
    border: 4px double var(--color);
  }
  .clouds{
    width: 80%;
    max-width: 180px;
    height: auto;
  }

 .settingForm span{
    display: inline-flex;
    width: 100%;
  }
  @media screen and (min-width: 580px) {
    :root{
      --appWidth : 580px;
    }  
  }
        