/* set backgroud picture here */
/* the background colour should be static according to the time zone day n night */
:root{
    --highlighter : orange;
    --backdrop : skyblue ;
    --bg : white;
    --color :#276487; 
    --opacity : 0.5 ;
    --nightBg: rgba(30, 30, 30, var(--opacity));
    --dayBg :  rgba(135 ,206 ,235, var(--opacity));

    --appWidth : 98vw;
    --navHeight : 6vh;
    --glass :  #5b585840 ; 
  }
  .appContainer{
    box-sizing: border-box;
    position: relative;
    margin : 0;
    width : var(--appWidth);
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
}
h1{
  font-size: 2rem;
  margin: 0.4em;
}

h2{
  font-size: 1.5rem;
  margin: 0.3em;
}

p,i{
  font-size: 1rem;
  line-height: 1.3;
  word-spacing: 0.2rem;
  margin: 0.3em;
}
a{
  font-size: 1rem;
  line-height: 1.3;
  word-spacing: 0.2rem;
  text-decoration: none;
  color : initial;
}
.px2{
  padding: 0 2vw;
}
.my2{
  margin : 2vh auto;
}
  .flexColumn{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .flexInline{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }

  .alignCenter{
    align-items: center;
  }
  .justifyCenter{
    justify-content: center;
  }
  .justifyBetween{
    justify-content: space-between;
  }
  .justifyAround{
    justify-content: space-around;
  }

  @media screen and (min-width: 786px) {
    :root{
      --appWidth : 786px;
    }  
  }
        