.intro{
    overflow: hidden;
    background: url("cloudy.png") ,radial-gradient(circle,skyblue 38%, #cfd0cb 72%, rgb(248 254 255) 100%);
    background-size: 300% 150% ,  150% ;
    background-position: 0%  20% , left ;
    background-repeat: no-repeat;
    animation: float 20s both infinite;
}
.introBanner{
    box-sizing: border-box;
    padding: 2vw;
    height: 55vh;
    width: 100%;
}

.introBanner img{
    width: auto;
    height: 20vh;
}

.intro h1 {
    text-align: center;
    color : var(--color );
    font-size: 1.2rem;
    width: 60%;
}

.intro h1>span{
    font-size: 1.8rem;
}

.intro h1>span:last-child{
    font-size: 3rem !important;
}

.introBtns{
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height:10vh ;
    width: 100%;
    text-align: center;
}
.introBtns span{
    background-color: #5b585840;
    width: 35%;
    height: 100%;
    border-radius: 1.5vw;
    transition: 1s border; 
}
.introBtns a{
    text-decoration: none;
    letter-spacing: 0.1cm;
    font-size: 1.2rem;
    color : var(--color);
}
.introBtns span:hover{
    border: 8px double white;
}
.introBtns span:hover a{
    font-weight: bold;
}

@-webkit-keyframes float {
    0%, 100% {
        background-position: 0%  0% , left ;
    }
    50% {
        background-position: 0%  80% , left ;
    }
}
@keyframes float {
    0%, 100% {
        background-position: 0%  0% , left ;
    }
    50% {
        background-position: 0%  80% , left ;
    }
} 
